<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>DAM</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-800">

<section th:replace="general.html :: navbar"></section>

<div class="mx-auto mt-44 p-4 rounded w-4/12 bg-gray-900">
    <h1 class="text-center text-2xl text-white mb-4">Interviu Nou</h1>
    <div class="mx-auto w-1/2 text-white">
        <form action="#" th:action="@{/interviuri/save}" th:object = "${interviu}" method="POST">
            <div>
                <label th:for="candidat">Candidat</label>
                <select name="candidat" class="mb-4 bg-gray-800 text-white rounded block w-48">
                    <option th:each="candidat : ${candidati}"
                            th:text="${candidat.getTotNume}"
                            th:value="${candidat.idPersoana}"}></option>
                </select>
            </div>

            <div>
                <label th:for="intervievator">Intervievator</label>
                <select name="intervievator" class="mb-4 bg-gray-800 text-white rounded block w-48">
                    <option th:each="intervievator : ${intervievatori}"
                            th:text="${intervievator.getTotNume}"
                            th:value="${intervievator.idPersoana}"}></option>
                </select>
            </div>

    <!--        <div>-->
    <!--            <label th:for="tip">Tip Interviu</label>-->
    <!--            <select name="tip" id="tip">-->
    <!--                <option value="tehnic">Tehnic</option>-->
    <!--                <option value="soft">Soft</option>-->
    <!--            </select>-->
    <!--        </div>-->

            <div id="toggle">
                <label th:for="test">Test</label>
                <select name="test" class="mb-4 bg-gray-800 text-white rounded block w-48">
                    <option th:each="test : ${teste}"
                            th:text="${test.getNume}"
                            th:value="${test.idTest}"}></option>
                </select>
            </div>

            <p class="mb-2">Data: (yyyy-mm-dd hh:mm:ss.m)</p>
            <input type="text" th:field="*{data}" class="mb-4 bg-gray-800 text-white rounded block w-48">


            <button type="submit" class="text-white bg-blue-500 rounded px-2 py-2 hover:bg-blue-700 text-center">Salveaza Interviul</button>

        </form>
    </div>
</div>

<!--<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>-->
<!--<script>-->
<!--    $(document).ready(function () {-->
<!--        // $('#datetimepicker1').datetimepicker({-->
<!--        //     format: 'DD/MM/YYYY h:mm A'-->
<!--        // });-->
<!--        $("#tip").change(function () {-->
<!--            $(this).find("option:selected")-->
<!--                .each(function () {-->
<!--                    var optionValue = $(this).attr("value");-->
<!--                    console.log($(this).attr("value"));-->
<!--                    if (optionValue == "tehnic") {-->
<!--                        $("#toggle").show();-->
<!--                    } else {-->
<!--                        $("#toggle").hide();-->
<!--                    }-->
<!--                });-->
<!--        }).change();-->
<!--    });-->
<!--</script>-->

</body>
</html>