<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>DAM</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-800">

<section th:replace="general.html :: navbar"></section>

<div class="w-8/12 mt-4 mx-auto">
    <a th:href="@{/interviuri/create}" class="font-semibold text-white bg-blue-500 rounded-lg px-2 py-2 hover:bg-blue-700 text-center mb-3">Adauga Interviu</a>
    <h1 class="text-2xl text-white font-semibold text-center block mb-2">Interviuri Viitoare</h1>
    <table class="mx-auto border-1 border-gray-500 table-auto text-white my-6">
        <thead class="bg-gray-900">
        <tr>
            <th>Candidat</th>
            <th>Intervievator</th>
            <th>Data</th>
            <th>Creat la</th>
            <th>Actualizat la</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="interviu : ${interviuriV}">
            <td th:text="${interviu.candidat.getTotNume}" class="pr-4"></td>
            <td th:text="${interviu.intervievator.getTotNume}" class="px-4"></td>
            <td th:text="${interviu.data}" class="px-4"></td>
            <td th:text="${interviu.createdAt}" class="px-4"></td>
            <td th:text="${interviu.updatedAt}" class="px-4"></td>
            <td class="pl-4">
                <a th:href="@{/interviuri/show/{id}(id=${interviu.idInterviu})}" class="mr-4 text-white text-xs bg-blue-500 rounded px-1 py-1 hover:bg-blue-700 block text-center">Open</a>
            </td>
        </tr>
        </tbody>
    </table>

    <h1 class="text-2xl text-white font-semibold text-center block mb-2">Interviuri Petrecute</h1>
    <table class="mx-auto border-1 border-gray-500 table-auto text-white my-6">
        <thead class="bg-gray-900">
        <tr>
            <th>Candidat</th>
            <th>Intervievator</th>
            <th>Data</th>
            <th>Creat la</th>
            <th>Actualizat la</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="interviu : ${interviuriP}">
            <td th:text="${interviu.candidat.getTotNume}" class="pr-4"></td>
            <td th:text="${interviu.intervievator.getTotNume}" class="px-4"></td>
            <td th:text="${interviu.data}" class="px-4"></td>
            <td th:text="${interviu.createdAt}" class="px-4"></td>
            <td th:text="${interviu.updatedAt}" class="px-4"></td>
            <td class="pl-4">
                <a th:href="@{/interviuri/show/{id}(id=${interviu.idInterviu})}" class="mr-4 text-white text-xs bg-blue-500 rounded px-1 py-1 hover:bg-blue-700 block text-center">Open</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>