<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>DAM</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-800">

<section th:replace="general.html :: navbar"></section>

<div class="mx-auto mt-36 p-4 rounded w-4/12 bg-gray-900">
        <h1 class="text-center text-2xl text-white mb-4">Actualizeaza Intrebare</h1>

        <div class="mx-auto w-1/2">
            <form action="#" th:action="@{/intrebari/save}" th:object = "${intrebare}" th:method="PUT">

                <input type="hidden" th:field="*{idIntrebare}">

                <input type="text" th:field = "*{continut}"
                       placeholder="Continutul Intrebarii" class="mb-4 bg-gray-800 text-white rounded block p-1">

                <input type="text" th:field = "*{A}"
                       placeholder="Varianta A" class="mb-4 bg-gray-800 text-white rounded block p-1">

                <input type="text" th:field = "*{B}"
                       placeholder="Varianta B" class="mb-4 bg-gray-800 text-white rounded block p-1">

                <input type="text" th:field = "*{C}"
                       placeholder="Varianta C" class="mb-4 bg-gray-800 text-white rounded block p-1">

                <input type="text" th:field = "*{D}"
                       placeholder="Varianta D" class="mb-4 bg-gray-800 text-white rounded block p-1">

                <input type="text" th:field = "*{raspunsCorect}"
                       placeholder="Varianta Corecta (A, B, C, D)" class="mb-4 bg-gray-800 text-white rounded block p-1">

                <button type="submit" class="text-white bg-blue-500 rounded px-2 py-2 hover:bg-blue-700 text-center">Salveaza Modificarile</button>

            </form>
        </div>
    </div>
</body>
</html>