<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>DAM</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-800">

<section th:replace="general.html :: navbar"></section>

<div class="w-8/12 mt-4 mx-auto">
        <h1 class="text-2xl text-white font-semibold text-center block mb-2">Intrebarile existente</h1>
        <a th:href="@{/intrebari/create}" class="font-semibold text-white bg-blue-500 rounded-lg px-2 py-2 hover:bg-blue-700 text-center mb-3">Adauga Intrebare</a>
        <table class="mx-auto border-1 border-gray-500 table-auto text-white my-6">
            <thead class="bg-gray-900">
                <tr>
                    <th>Continut</th>
                    <th>A</th>
                    <th>B</th>
                    <th>C</th>
                    <th>D</th>
                    <th>*</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="intrebare : ${listIntrebari}">
                    <td th:text="${intrebare.continut}" class="pr-4"></td>
                    <td th:text="${intrebare.A}" class="px-4"></td>
                    <td th:text="${intrebare.B}" class="px-4"></td>
                    <td th:text="${intrebare.C}" class="px-4"></td>
                    <td th:text="${intrebare.D}" class="px-4"></td>
                    <td th:text="${intrebare.raspunsCorect}" class="px-4"></td>
                    <td class="pl-4">
                        <div class="flex">
                            <a th:href="@{/intrebari/edit/{id}(id=${intrebare.idIntrebare})}" class="mr-4 text-white text-xs bg-blue-500 rounded px-1 py-1 hover:bg-blue-700 block text-center">Update</a>
                            <a th:href="@{/intrebari/delete/{id}(id=${intrebare.idIntrebare})}" class="text-white text-xs bg-red-500 rounded px-1 py-1 hover:bg-red-700 block text-center">Delete</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div th:if = "${totalPages > 1}">
            <div class="row col-sm-10 flex text-white">
                <div class="col-sm-2 mr-4">
                    Total Rows: [[${totalItems}]]
                </div>
                <div class="col-sm-1 mr-4">
                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                        <a th:if="${currentPage != i}" th:href="@{'/intrebari/page/' + ${i}}">[[${i}]]</a>
                        <span th:unless="${currentPage != i}">[[${i}]]</span>
                    </span>
                </div>
                <div class="col-sm-1 mr-4">
                    <a th:if="${currentPage < totalPages}" th:href="@{'/intrebari/page/' + ${currentPage + 1}}">Next</a>
                    <span th:unless="${currentPage < totalPages}">Next</span>
                </div>
                <div class="col-sm-1">
                    <a th:if="${currentPage < totalPages}" th:href="@{'/intrebari/page/' + ${totalPages}}">Last</a>
                    <span th:unless="${currentPage < totalPages}">Last</span>
                </div>
            </div>
        </div>
    </div>

</body>
</html>